<head>
    <meta charset="utf-8">
    <title>lacrosse elo - home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" src=></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Courier;
        }
    </style>
</head>

<body>
  {% include 'nav.html' %}

  <section style="padding-top: 30px; padding-bottom: 30px">
    <div class="container">
      <h1 class="title" style="margin-left: 20px;">college lacrosse elo rankings</h1>
    </div>
  </section>

  <section>
    <div class="container">

        <div class="columns">
            <div class="column is-two-fifths" style="margin-left: 20px; margin-right: 20px">
                <h4 class="subtitle is-4 has-text-left">
                  welcome
                </h4>

                <p>
                    to lacrosselo, a unique extension of the elo chess ranking algorithm
                    system to predict men's college lacrosse games.
                </p>
                <br>
                <p>
                    You can read more about this margin-based model and how it works <a href="about">here.</a>
                    Ranks and game predictions are updated daily at midnight.
                </p>
                <br>
                <p>
                    lacrosselo is developed and maintained by Houston Warren. All code is available on
                    <a href="https://github.com/houstonwarren/lacrosselo">github</a>.
                </p>
            </div>

          <div class="column is-three-fifths is-centered" style="margin-left: 20px;">
              <h4 class="subtitle is-4 has-text-left">
                  current top 10
              </h4>

              <table class="table is-bordered">
                <tbody>
                    {% for rank in ranks[0:10] %}
                    <tr>
                        <td style="border: white !important;">
                            <p class="has-text-right is-size-7" style="padding-top: 5px"> {{loop.index}}</p>
                        </td>
                        <td style="border: white !important;">
                            <p class="is-size-5"> {{rank["team"]|lower}}</p>
                        </td>
                        <td style="border: white !important;">
                            <p class="is-size-7" style="padding-top: 5px"> {{rank["rank"]|float|round|int}}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
          </div>

        </div>

    </div>
  </section>
</body>
